@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
}

h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.1;
}

h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style: none;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

:root {
    --main-color: #3aafd6;
    --white-color: #ffff;
    --dark-color: #000
}
.bg-black{
    background-color: var(--dark-color);
}
.bg-main-color {
    background-color: var(--main-color) !important;
}

.text-color {
    color: var(--white-color) !important;
}
.bg-white{
    background-color: var(--white-color);
}


.photo-function {
    background: url(http://egotype.design/work/web/html/fibre/demo/css/../images/function-1-device-shadow.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: auto;
}
.main-image{
    position: relative;
}
.photo-banner{
    position: relative;
    overflow: visible;
}

.content-banner .row i{
    font-size: 35px;
    color: var(--main-color);
}

.section-sevices .row .item i {
    font-size: 50px;
    color: var(--main-color);
    font-weight: 300;
}

.wrapper-v-lg {
    padding-top: 16px;
    padding-bottom: 16px;
}

.section-function .row .col i {
    font-size: 30px;
    color: var(--main-color);
    font-weight: 300;
}

.functionality {
    overflow: hidden;
}

.img-watch {
    height: 300px;
}

.img-watch img {
    top: 20%;
    bottom: 0;
    width: 130%;
}

img {
    vertical-align: middle;
}

.img-responsive {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.vert-middle-md {
    display: flex;
    justify-content: center;
}

.features-left {
    margin-top: 7%;
    text-align: right;
}

.features-right {
    margin-top: 7%;
    text-align: left;
}

.icon-feat i {
    font-size: 40px;
    color: var(--main-color);
}


.btn-app a.btn {
    display: inline-block;
    margin: 5px !important;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 17px;
    border: none;
    transition: background .3s ease-in-out;
}

.download-device-shadow {
    background: url(http://egotype.design/work/web/html/fibre/demo/css/../images/download-device-shadow.png) no-repeat center;
    background-size: cover;
}





.price-lan{
    padding: 30px 0 20px 0;
}
.price-marker{
    display: table;
    height: 100px;
    width: 100px;
    margin: 25px auto;
    color: var(--white-color);
    background-color: var(--main-color);
    border-radius: 50%;
}
.price-marker .price{
    display: table-cell;
    margin: 0;
    font-size: 32px;
    font-weight: 600;
    line-height: 0.6;
    vertical-align: middle;
}
.price-marker .price-cent{
    font-size: 50%;
    vertical-align: super;
} 
.price-marker .price-per{
    font-size: 14px;
    white-space: nowrap;
}
.price-detail{
    list-style: none;
    padding-left: 0;
}
.price-detail li{
    margin-bottom: 10px;
}

.speech-bubble-light {
    color: #444;
    background-color: #ebf7fb;
}
.speech-bubble {
    position: relative;
    padding: 15px 20px;
    border-radius: 5px;
}
/* .speech-bubble-light:after {
    border-color: #ebf7fb transparent transparent;
} */
.speech-bubble:after {
    position: absolute;
    top: 100%;
    left: 50%;
    height: 0;
    width: 0;
    margin-left: -15px;
    border: 15px solid;
    content: " ";
    pointer-events: none;
    border-color: #ebf7fb transparent transparent;
}
#client-title .owl-item img{
    display: inline ;
    width: auto;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
.img-client{
    width: 125px !important;
    height: 125px;
    margin: 20px 0;
}
.img-cricle{
    border-radius: 50%;
}

.testimonial-details .social{
    display: flex;
    justify-content: center;
    padding-left: 0;
}
.testimonial-details .social li:nth-child(2){   
    margin: 0 20px;
}
.testimonial-details .social li i{
    font-size: 30px;
    color: var(--main-color);
    cursor: pointer;
}

.newsletter-image{
    position: relative;
    background: url(http://egotype.design/work/web/html/fibre/demo/css/../images/newsletter-image-bg.jpg) center no-repeat #fcfcfc;
    background-size: cover;
}
.form-group{
    max-width: 500px;
    margin: 0 auto;
}
.form-control{
    position: relative;
    border-radius: 20px 0 0 20px;
    height: 39px;
    
}
#form-news{
    position: relative;
}
.input-group-btn{
    position: absolute;
    width: 5%;
    height: 38px;
    right: 25%;
    top: 23%;
    background-color: var(--white-color);
    border-radius: 0 20px 20px 0;
}
.btn-border-silver {
    color: #bfbfbf !important;
    background-color: transparent;
}
.input-group-btn .btn i{
    font-size: 15px;
    margin-left: 5px;
    color: var(--main-color);
}
.newsletter-image {
    background: url(http://egotype.design/work/web/html/fibre/demo/css/../images/newsletter-image-bg.jpg) center no-repeat #fcfcfc;
    background-size: cover;
}
.pos-relative{
    position: relative;
}
.opacity-90 {
    filter: alpha(opacity=90);
    opacity: 0.9;
}
.section-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.hor-middle {
    margin: 0 auto;
}


.form-ctrol {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    border-radius: 17px;
    box-shadow: none;
    appearance: none;
    outline: 0;
}

.form-ctrol {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-grp {
    margin-bottom: 15px;
}

#form-message{
    height: auto;
    width: 100%;
}
.send-touch{
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 769px) {
    .content-banner{
        text-align: center;
    }
    .text-center-md {
        text-align: center;
    }
    .features-left,
    .features-right {
        text-align: justify;
    }
}

