@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600&display=swap');

:root{
    --main-color: #e7ba3d;
    --green-color: #95bf47;
}
a{
    color: #333;
    text-decoration: none;
}
ul, ol{
    list-style: none;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    color: #212529;
    font-size: 1rem;
}


.container{
    margin: 0 auto;
}






/* header-top */
.header-top .currency-wrapper:hover ul{
    display: block;
    right: 0;
}
.main-nav ul{
    column-gap: 20px;
}






@media screen and (max-width: 769px){
    #toogle-mobile  .icon-toogle{
        font-size: 22px;
    }
    .main-nav {
        position: fixed;
        top:0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, .3);
    }

    .main-nav ul{
        width: 0px;
        height: 100%;
        overflow-y: auto;
        background-color: #fff;
        row-gap: 20px;
        padding-top: 10px;
    }
    #close-nav {
        top: 20px;
        left: 290px;
    }

}

@media (max-width: 736px){
    .form-import {
        display: block!important;
        margin-bottom: 10px;
    }
    .form-import button{
        position: absolute;
        margin-left: 5px;
        font-size: 15px;
        height: 31px;
        border: none;
        background-color: #333;
        color: #fff;
    }
    .form-import input{
        width: 250px !important;
        padding: 0 0.75em;
        height: 31px;
        border: 1px solid #c1c1c1;
        position: relative;
    }

    .col-img-sec{
        margin-bottom: 50px;

    }
    .row-featured{
        height: 650px;
    }
    .space-v-sm{
        margin-top: 20px;
        top: 88%;
    }
}


